.input-form {
    width: 30%;
    
}

#twitter-result {
    /* padding: 50px; */
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 50px;
    margin-left: 50px;
}

#chart-button {
    float: right;
}

#chart {
   margin-left: 50px; 
   margin-top: 35px;
}